html
{
	min-height: 100%;
	position: relative;
}
body
{
	background-color: #1941C4;
	font-family: "Source Sans Pro";
	margin-bottom: 60px;
	margin-top: 0px;
}
body > .container
{
	padding: 60px 15px 0px;
}
.jumbotron
{
	color: #000000;
}
.wrapper
{
	height: 400px;
	margin: 0 auto;
	width: 80%;
}